
/ChartSeriesApiService/.vs
/ChartSeriesApiService/ChartSeriesApiService/bin
/ChartSeriesApiService/ChartSeriesApiService/obj
/ChartSeriesUi/.angular
/ChartSeriesUi/.vscode
/ChartSeriesUi/node_modules
